
#masthead {
    background-image: url("../images/405857-cool-coding-wallpaper-1920x1088-samsung-galaxy.jpg");
    background-repeat: auto;
    margin-top: 15px;
    object-fit: cover;
}

.jumbotron {
    background-color: #333;
}

#logo {
    font-family: 'Pacifico', cursive;
    font-size: calc(6px + 6vw);
    text-align: initial;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.12em;
    text-shadow: 
        0 -1px 0 #fff, 
        0 1px 0 #2e2e2e, 
        0 2px 0 #2c2c2c, 
        0 3px 0 #2a2a2a, 
        0 4px 0 #282828, 
        0 5px 0 #262626, 
        0 6px 0 #242424, 
        0 7px 0 #222,
        0 8px 0 #202020,
        0 9px 0 #1e1e1e,
        0 10px 0 #1c1c1c,
        0 11px 0 #1a1a1a,
        0 12px 0 #181818,
        0 13px 0 #161616,
        0 14px 0 #141414,
        0 15px 0 #121212,
        0 22px 30px rgba(0, 0, 0, 0.9);
    text-transform: uppercase;
    color: #3ff1e3;
        -webkit-transition:all 3.2s ease-out;
        -moz-transition:all 3.2s ease-out;
        -ms-transition:all 3.2s ease-out;
        -o-transition:all 3.2s ease-out;
        transition:all 3.2s ease-out;
}
#logo:hover {
        -webkit-transform:rotateY(360deg);
        -moz-transform:rotateY(360deg);
        -ms-transform:rotateY(360deg);
        -o-transform:rotateY(360deg);
        transform:rotateY(360deg);
}

#job {
    font-family: 'Permanent Marker', cursive;
    font-size: calc(3px + 3vw);
    color: #f83bf8;
    -webkit-transition:all 1.8s ease-out;
    -moz-transition:all 1.8s ease-out;
    -ms-transition:all 1.8s ease-out;
    -o-transition:all 1.8s ease-out;
    transition:all 1.8s ease-out;
}
#job:hover {
    -webkit-transform:rotateY(360deg);
    -moz-transform:rotateY(360deg);
    -ms-transform:rotateY(360deg);
    -o-transform:rotateY(360deg);
    transform:rotateY(360deg);
}

img {
    width: 100%;
    height: 23vw;
    object-fit: cover;   
}

#card1 {
    background-color: #262626;
    box-shadow: 0 6px 10px 0 rgba(199, 20, 160, 0), 0 10px 20px 0 rgba(255, 60, 197, 0.19);
    margin-left: 15px;
}

#card2 {
    background-color: #262626;
    box-shadow: 0 6px 10px 0 rgba(20, 172, 177, 0), 0 10px 20px 0 rgba(10, 255, 235, 0.19);
}

#card3 {
    background-color: #262626;
    box-shadow: 0 6px 10px 0 rgba(198, 201, 20, 0), 0 10px 20px 0 rgba(234, 250, 15, 0.19);
}

.card-title {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: calc(1.5vh + 1.5vw);
    color: #eccb35
}

p {
    font-family: 'Lobster', cursive;
    font-size: calc(.9vh + .9vw);
    color: #e6e6e6;
    margin: 10px 10px 10px 10px 
}

.carousel-item {
    height: fit-content;

}

.carousel-control-prev,
.carousel-control-next {
    align-items: baseline;
    bottom: 50%;
    color: #aaff80;
}

.list-group-item {
    background-color: #333;
    text-align: center;
    font-family: 'Oleo Script', cursive;
    font-size: calc(1vh + 1vw);
    color: #e6e6e6;
}

#jumbo2 {
    margin-top: 25px;
    margin-bottom: 20px;
}



#copyright {
    text-align: center;
    font-size: calc(3.5px + 2.5vw);
    font-family: 'Pacifico', cursive;
    color: #3ff1e3;
}    
  
#copyright2 {
    text-align: center;
    font-size: calc(1.8px + 1.4vw);
    font-family: 'Oleo Script', cursive;
    color: #e6e6e6
}