
#masthead {
    background-image: url("../images/code27.jpg");
    background-repeat: auto;
    margin-top: 15px;
}

.jumbotron {
    background-color: #262626;
}

#logo {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: calc(6px + 4vw);
    text-align: initial;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.12em;
    text-shadow: 
        0 -1px 0 #fff, 
        0 1px 0 #2e2e2e, 
        0 2px 0 #2c2c2c, 
        0 3px 0 #2a2a2a, 
        0 4px 0 #282828, 
        0 5px 0 #262626, 
        0 6px 0 #242424, 
        0 7px 0 #222,
        0 8px 0 #202020,
        0 9px 0 #1e1e1e,
        0 10px 0 #1c1c1c,
        0 11px 0 #1a1a1a,
        0 12px 0 #181818,
        0 13px 0 #161616,
        0 14px 0 #141414,
        0 15px 0 #121212,
        0 22px 30px rgba(0, 0, 0, 0.9);
    text-transform: uppercase;
    color: #e6e6e6;
        -webkit-transition:all 3.2s ease-out;
        -moz-transition:all 3.2s ease-out;
        -ms-transition:all 3.2s ease-out;
        -o-transition:all 3.2s ease-out;
        transition:all 3.2s ease-out;
}
#logo:hover {
        -webkit-transform:rotateY(360deg);
        -moz-transform:rotateY(360deg);
        -ms-transform:rotateY(360deg);
        -o-transform:rotateY(360deg);
        transform:rotateY(360deg);
}

#job {
    font-family: monospace;
    font-size: calc(3px + 2vw);
    color: #aaff80;
    -webkit-transition:all 1.8s ease-out;
    -moz-transition:all 1.8s ease-out;
    -ms-transition:all 1.8s ease-out;
    -o-transition:all 1.8s ease-out;
    transition:all 1.8s ease-out;
}
#job:hover {
    -webkit-transform:rotateY(360deg);
    -moz-transform:rotateY(360deg);
    -ms-transform:rotateY(360deg);
    -o-transform:rotateY(360deg);
    transform:rotateY(360deg);
}

img {
    width: 100%;
    height: 23vw;
    object-fit: cover;   
}

#card1 {
    background-color: #262626;
    box-shadow: 0 4px 8px 0 rgba(253, 253, 253, 0), 0 6px 20px 0 rgba(243, 255, 243, 0.19);
}

#card2 {
    background-color: #262626;
    box-shadow: 0 4px 8px 0 rgba(253, 253, 253, 0), 0 6px 20px 0 rgba(243, 255, 243, 0.19);
}

#card3 {
    background-color: #262626;
    box-shadow: 0 4px 8px 0 rgba(253, 253, 253, 0), 0 6px 20px 0 rgba(243, 255, 243, 0.19);
}

.card-title {
    text-align: center;
    font-family: monospace;
    font-size: x-large;
    color: #aaff80
}

p {
    font-family: monospace;
    font-size: medium;
    color: #e6e6e6
}

.carousel-item {
    height: fit-content;

}

.carousel-control-prev,
.carousel-control-next {
    align-items: baseline;
    bottom: 10%;
    color: #aaff80;
}

#jumbo2 {
    margin-top: 15px;
    margin-bottom: 10px;
}



#copyright {
    text-align: center;
    font-size: calc(2.5px + 1.5vw);
    font-family: 'Roboto', Arial, sans-serif;
    color: #aaff80;
}    
  
#copyright2 {
    text-align: center;
    font-size: calc(1.8px + 1.1vw);
    font-family: monospace;
    color: #e6e6e6
}